.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0.25rem 0;
    background-color: #eee;
}

ul{
    width: 100%;
    list-style: none;
    padding: 0 0.25rem 0.25rem;
}

.item input[type="checkbox"] {
    text-align: center;
    width: 2.5rem;
    width: 48px;
    height: 2.5rem;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    cursor: pointer;
    margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
    text-decoration: underline;
}

.item > label{
    font-size: 0.75rem;
    flex-grow: 1;
}

ul li::before {
    content: "\200B";
  }